<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- GIANMARCO MALEX TRILLO -->
<mapper namespace="com.petcenter.dao.spec.CommonMapper">

  <select id="listaTipoDoc" resultType="TipoDocDTO">
    SELECT idTipoDocumento as id,
    		descripcionTipoDocumento as 'desc'
	FROM tb_tipodocumento
  </select>
  
</mapper>