<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- GIANMARCO MALEX TRILLO -->
<mapper namespace="com.petcenter.dao.spec.CommonMapper">

  <select id="listaTipoDoc" resultType="TipoDocDTO">
    SELECT idTipoDocumento as id,
    		descripcionTipoDocumento as 'desc'
	FROM tb_tipodocumento
  </select>
  
  <resultMap id="listaTodosAtributosMap" type="AtributoDTO">
	   <id property="idAtributo" column="idAtributo"/>
	   <result property="nombreAtributo" column="nombreAtributo"/>
	   <result property="descripcionAtributo" column="descripcionAtributo"/>
	   <association property="caracteristica" javaType="CaracteristicaDTO">
	   		<id property="idCaracteristica" column="idCaracteristica"/>
	    	<result property="descripcionCaracteristica" column="descripcionCaracteristica"/>
	   </association>
	</resultMap>
  
  <select id="listaTodosAtributos" resultMap="listaTodosAtributosMap">
	  select a.idAtributo, a.nombreAtributo, a.descripcionAtributo, a.idCaracteristica, c.descripcionCaracteristica
		 from TB_ATRIBUTOS a, TB_CARACTERISTICA c
		 where a.idCaracteristica = c.idCaracteristica
		   and a.idEstado = 'ACT'
  </select>
  
</mapper>