<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petcenter.dao.spec.EstandarMapper">

  <select id="listaEstandares" resultType="EstandarDTO">
		select idEstandar, codigoEstandar, nombreEstandar, descripcionEstandar
		from estandar
  </select>
  
</mapper>