<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petcenter.dao.spec.SeguimientoControlMapper">

  <select id="verServicioAtencionMedica" resultType="SeguimientoControl">
	SELECT MA.IDMASCOTA,  
		CONCAT(NOMCLIENTE,' ',APEPATERNOCLIENTE,' ',APEMATERNOCLIENTE) AS 'DATOSCLIENTE', 
	    NOMMASCOTA AS 'DATOSMASCOTA',
	    ESP.DESCRIPCIONESPECIE AS 'DESCRIPCIONESPECIE',
	    DATE_FORMAT(IFNULL(AM.ACTUALIZADO,AM.REGISTRADO), '%d/%m/%Y') AS 'FECHAULTIMAATENCION'
	FROM TB_ATENCION_MEDICA AM INNER JOIN TB_HISTORIA_CLINICA HC
			ON AM.IDHC=HC.IDHC INNER JOIN TB_MASCOTA MA
	        ON HC.IDMASCOTA=MA.IDMASCOTA INNER JOIN TB_CLIENTE CLI
	        ON MA.IDCLIENTE=CLI.IDCLIENTE INNER JOIN TB_RAZA RA
            ON MA.IDRAZA=RA.IDRAZA INNER JOIN TB_ESPECIE ESP
            ON RA.IDESPECIE=ESP.IDESPECIE
	WHERE AM.ESTADOAM=1 AND MA.ESTADOMASCOTA=1
  </select>  
  
  <select id="verServicioPeluqueria" resultType="SeguimientoControl">
	SELECT MA.IDMASCOTA, 
		CONCAT(NOMCLIENTE,' ',APEPATERNOCLIENTE,' ',APEMATERNOCLIENTE) AS 'DATOSCLIENTE', 
	    NOMMASCOTA AS 'DATOSMASCOTA',
	    ESP.DESCRIPCIONESPECIE AS 'DESCRIPCIONESPECIE',
	    DATE_FORMAT(IFNULL(HC.ACTUALIZADO,HC.REGISTRADO), '%d/%m/%Y') AS 'FECHAULTIMAATENCION'
	FROM TB_ATENCION_MEDICA AM INNER JOIN TB_HISTORIA_CLINICA HC
			ON AM.IDHC=HC.IDHC INNER JOIN TB_MASCOTA MA
	        ON HC.IDMASCOTA=MA.IDMASCOTA INNER JOIN TB_CLIENTE CLI
	        ON MA.IDCLIENTE=CLI.IDCLIENTE INNER JOIN TB_RAZA RA
            ON MA.IDRAZA=RA.IDRAZA INNER JOIN TB_ESPECIE ESP
            ON RA.IDESPECIE=ESP.IDESPECIE
	WHERE HC.ESTADOHC=1 AND MA.ESTADOMASCOTA=1
  </select>
  
</mapper>